[Desktop Entry]
Version=0.1
Name=Acoustics
Comment=Acoustics Noise Player
Exec=acoustics
Icon=acoustics
Terminal=false
Type=Application
Categories=AudioVideo;Player;
Keywords=Player;Audio;
X-Ubuntu-Gettext-Domain=anoise
